{% extends "rs/productbase.html" %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="product-detail">

        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
         <h1>{{ product.title }}</h1>
        <h2><a href="{{ product.genre.get_absolute_url }}">{{ product.genre }}</a></h2>
        <p class="price">US${{ product.price }}</p>
        {{ product.description|linebreaks }}
    </div>
{% endblock %}